{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Classification de visages</h1>
    <a href="{{ url_for('utilisateur.deconnexion') }}">Déconnexion</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category,message in messages %}
            {% if category == 'upload' %}
                {{ message }}
            {% endif %}
        {% endfor %}
    {% endwith %}
    <div class="row">
        <form class="col-md-6 col-lg-6 form-inline alignement-gauche colonne-centree" method="POST" enctype="multipart/form-data" action="{{ url_for('image.accueil') }}">
            <div class="input-group">
                <label id="browsebutton" for="addImages" class="btn btn-default input-group-addon browse-button">
                    <input id="addImages" class="images-selector"  name="images" style="display:none;" type="file" multiple>
                    Ajouter des images...
                </label>
                <input type="text" class="form-control" readonly>
            </div>
                <input class="btn btn-primary" type="submit" value="Ajouter">
        </form>
    </div>
    <label for="images">Images ajoutées :</label>
    <div id="images">
        {% for image in images %}
            <img class="resize img" src="{{ url_for('static', filename=image.url())}}"/>
        {% endfor %}
    </div>
    {% if images|length > 0 %}
        <form class="alignment-gauche" method="POST" enctype="multipart/form-data" action="{{ url_for('image.supprimer_images')}}">
            <input class="btn btn-primary" type="submit" value="Supprimer les images">
        </form>
    {% endif %}
    <form class="alignment-droit" method="POST" enctype="multipart/form-data" action="{{ url_for('image.prediction')}}">
            <input class="btn btn-primary" type="submit" value="Classifier les images">
    </form>
{% endblock %}