/* -- Images -- */
img{
    display: inline-block
}
.resize{
    width:15%;
}
.border{
    margin: 5px;
}

/* -- Upload -- */
.browse-button{
    background-color: white;
}

/* -- Messages -- */

/* -- Formulaires -- */
.alignment-droit{
    float: right;
    margin-top: 10px
}
.alignment-gauche{
    display: inline-block;
    margin-top: 10px
}
.colonne-centree{
    float: none;
    margin: 0 auto;
}
.form-errors{
    color: red;
}